<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_door"
        android:label="BookingApp by Joo"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_door"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAppBooking"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".ui.activity.ProfileImageActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.activity.ReturnItemActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SuccessSentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BookingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ChangePhoneNumberActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ReservationByItemActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.EmailVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ItemListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.FacilityListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>